.contacts{
    min-height: 85px;
    padding: 20px 0 20px 0;
    background-color: #ffffff;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__country{
        color: #242424;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }
    &__info{
        color: #242424;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        a{
            color: #242424;
        }
    }
    &__item{
        display: flex;
        img{
            margin-top: 3px;
            width: 28px;
            height: 21px;
            margin-right: 11px;
            
        }
    }
}